__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/
env/

weights/
runs/
data/
raw_data/
*.pt
*.pth

.git/
.gitignore
.gcloudignore
.DS_Store
Thumbs.db

README.md
CHANGELOG.md
*.docx
